<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>抹茶美妆.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0CB597C11D2EC8FE00F0CB63</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0CB597DA1D2EC8FE00F0CB63</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0CB597E51D2EC8FE00F0CB63</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
